#content {
  overflow: hidden;
  min-height: 90vh;
}

#main {
  ul, li {
    list-style-position: inside;
    list-style-type: disc;
  }
  p {
    margin-bottom: 15px;
  }
}

.post {
  &-title {

  }
  &-image {

  }
  &-date {

  }
  &-content {

  }
}
