/* Placeholder styles */

*::-webkit-input-placeholder {
  color: inherit;
  opacity: 1;
}

*:-moz-placeholder {
  color: inherit;
  opacity: 1;
}

*::-moz-placeholder {
  color: inherit;
  opacity: 1;
}

*:-ms-input-placeholder {
  color: inherit;
  opacity: 1;
}
