/* General Project Styles */

* {
  box-sizing: border-box;
}

body {
  position: relative;
  display: block;
  min-width: 320px;
  background-color: #fff;
  font-weight: 400;
  font-size: 16px;
  font-family: Arial, sans-serif;
  line-height: 1.4;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/* Hack for Chrome to not stretch img */

img {
  align-self: center;
}

/* Helper classes */

.clearfix::after {
  display: table;
  clear: both;
  content: '';
}

.hidden {
  display: none !important;
}

.visible {
  display: block !important;
}

.no-borders {
  border: none !important;
}

.no-float {
  float: none !important;
}

.p0 {
  padding: 0 !important;
}

.m0 {
  margin: 0 !important;
}

.text-left {
  text-align: left !important;
}

.text-center {
  text-align: center !important;
}

.text-right {
  text-align: right !important;
}

.mw100 {
  max-width: 100% !important;
}

.ovh {
  overflow: hidden !important;
}

.flex-center {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
}

.eqh {
  display: flex;

  flex-wrap: wrap;
  &::before,
  &::after {
    content: normal;
  }
}
