/* Mixins */

@mixin vCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin wpMenu {
  .menu-item:not(.menu-item-home) {
    &:hover > a, &.active > a, &.current-menu-item > a, &.current-page-item > a, &.current-page-ancestor > a, &.current_page_parent > a, &.current-menu-parent > a, &.current-menu-ancestor > a {
      color: $primary;
      text-decoration: none;
    }
  }
}

@mixin bgCover {
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}

@mixin imgLink {
  position: relative;
  z-index: 1;
  a {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

@mixin overlay {
  position: relative;
  z-index: 1;
  &::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color: $primary;
    content: '';
    opacity: .5;
  }
}
